@import './vars.css';

.product-list {
  padding: 10% 0;
  & .product-list-title {
    font-size: var(--h1);
  }
  & .product {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
    & .product-imageWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    & .no-desk {
      display: none;
      text-align: center;
      @media (--small) {
        display: block;
      }
    }
    & .no-mobile {
      @media (--small) {
        display: none;
      }
    }
    & .product-image {
      width: 230px;
      vertical-align: top;
      @media (--small) {
        width: 150px;
      }
    }
    & .product-title {
      font-size: var(--titles);
    }
    & .product-description {
      font-size: var(--normal);
    }
  }
}